<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>184103486383-m4on5u9d91i2itjlqn72c54vsb1k3rb2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.184103486383-m4on5u9d91i2itjlqn72c54vsb1k3rb2</string>
	<key>API_KEY</key>
	<string>AIzaSyBQCrYnm1KNBzqOY9b6w9PEctMCbD1anpw</string>
	<key>GCM_SENDER_ID</key>
	<string>184103486383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JANTEL-CORP.AddlistenerCRUD</string>
	<key>PROJECT_ID</key>
	<string>snappy-catcher-284215</string>
	<key>STORAGE_BUCKET</key>
	<string>snappy-catcher-284215.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184103486383:ios:4b46dc3b6fed544c19a55a</string>
	<key>DATABASE_URL</key>
	<string>https://snappy-catcher-284215.firebaseio.com</string>
</dict>
</plist>